*{
	box-sizing: border-box;
}
html{
	
}
body {
}	

header{
color: black;
text-align: center;
font-family: cursive;
}

nav{
text-align: center;
margin: 4rem;
font-family: cursive;
}
a{
	text-decoration: none;
	margin: 0 2rem;
	color: darkblue;
	
}

main{


} 
 
section{
	

} 

aside{

}

footer{

}
p{
	font-size: 1.5rem;
	width: 40%;
	text-align: center;
	margin: auto;
	font-family: cursive;
}